body {
    background-image: url(/images/Zelda.jpeg);
    background-repeat: repeat-y;
    background-size: cover;

}

.container {
    color: aliceblue;
    margin-top: 45px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    background-color: rgb(39, 76, 177);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

